# 1ο ΜΕΡΟΣ
Έστω η παρακάτω κλάση:

In [2]:
class Student:
	def __init__(self, name, surname, am, father_name, v1,v2):
		self.name=name
		self.surname=surname
		self.father_name=father_name
		self.v1=v1
		self.v2=v2

Εκτελέστε τον κώδικα του προηγούμενου κελιού (δεν θα υπάρχει κάποιο αποτέλεσμα). 
Ποιος είναι ο **κατασκευαστής** της κλάσης; Ποιες είναι οι **ιδιότητες** της κλάσης;

Στη συνέχεια, δημιουργήστε ένα **αντικείμενο** της κλάσης Student με όνομα **st1** και τα ακόλουθα στοιχεία (**δεν** χρειάζεται να αντιγράψετε την κλάση):

-	Όνομα: Dimitra
-	Επίθετο: Kostara
-	AM: 206
-	Όνομα πατέρα: George
-	Βαθμός 1: 15
-	Βαθμός 2: 18

Αντίστοιχα δημιουργήστε άλλα δύο αντικείμενα με όνομα *st2* και *st3* με τα εξής στοιχεία:

Για το *st2*:

-	Όνομα: Tasos
-	Επίθετο: Kostaras
-	AM: 350
-	Όνομα πατέρα: George
-	Βαθμός 1: 18
-	Βαθμός 2: 12
  
Για το *st3*:

-	Όνομα: Simos
-	Επίθετο: Lazaridis
-	AM: 600
-	Όνομα πατέρα: Lazaros
-	Βαθμός 1: 11
-	Βαθμός 2: 12

Για να εμφανίσουμε μία **ιδιότητα** ενός αντικειμένου γράφουμε: 

**print(st1.name, st1.surname)** 

Έτσι εμφανίζουμε το όνομα και το επίθετο του 1ου μαθητή.\
Στο επόμενο κελί *εμφανίστε το όνομα και το επίθετο του 2ου μαθητή*:

Εμφανίστε τον Αριθμό Μητρώου του 3ου  μαθητή:

Εμφανίστε (χρησιμοποιώντας 3 print) το όνομα και τους βαθμούς και των τριών μαθητών.

Εμφανίστε τα ονόματα πατέρα και των τριών μαθητών (με μία εντολή print):

Αλλάξτε το βαθμό 1 του 3ου μαθητή σε 13 και στη συνέχεια εμφανίστε τον:

Θα προσθέσουμε στην κλάση Student μία **μέθοδο**, η οποία υπολογίζει και επιστρέφει το μέσο όρο ενός μαθητή στα δύο μαθήματα:

In [3]:
class Student:
	def __init__(self, name, surname, am, father_name, v1,v2):
		self.name=name
		self.surname=surname
		self.father_name=father_name
		self.v1=v1
		self.v2=v2
	def mo(self):
		mo=(self.v1 + self.v2)/2.0
		return mo

Εκτελέστε τον κώδικα του προηγούμενου κελιού (δεν θα εμφανιστεί κάτι). 
Στη συνέχεια δημιουργήστε δύο αντικείμενα *stdn1* και *stdn2* με όποια στοιχεία θέλετε εσείς:

Εμφανίστε (με δύο print) το ονοματεπώνυμο και τους 2 βαθμούς καθενός μαθητή:

Καλέστε τη μέθοδο *mo* για να υπολογίσετε το μέσο όρο του 1ου μαθητή και στη συνέχεια εμφανίστε τον.

Καλέστε ξανά τη μέθοδο *mo* για να υπολογίσετε το μέσο όρο του 2ου μαθητή και εμφανίστε τον και αυτόν

Συγκρίνετε τους δύο βαθμούς και εμφανίστε ένα μήνυμα για το ποιος μαθητής είχε μεγαλύτερο μέσο όρο.

*Ζητήστε* από το χρήστη να δώσει για έναν συγκεκριμένο μαθητή:
- το όνομα
- το επίθετο
- τον ΑΜ
- το όνομα πατέρα
- το βαθμό στο 1ο τετράμηνο
- το βαθμό στο 2ο τετράμηνο \
Στη συνέχεια δημιουργήστε ένα αντικείμενο **mathitis1** με τα στοιχεία που σας έδωσε ο χρήστης.

Καλέστε τη μέθοδο *mo* για να υπολογίσετε το μέσο όρο του mathitis1:

Εμφανίστε όλα τα στοιχεία που αφορούν τον mathitis1 (και το μέσο όρο του).

# 2ο μέρος

In [ ]:
class Customer:
# Ένας πελάτης με καταθετικό λογαριασμό σε μια τράπεζα.
# Οι πελάτες έχουν τις παρακάτω ιδιότητες:
# name: όνομα του πελάτη
# balance: το υπόλοιπο του λογαριασμού του πελάτη.
	def __init__( self, name, balance = 0.0 ):
	# επιστρέφει ένα αντικείμενο της κλάσης Customer
	# με όνομά name και αρχικό υπόλοιπο 0.0
		self.name = name
		self.balance = balance
	def withdraw(self, amount):
	# Επιστρέφει το νέο υπόλοιπο του λογαριασμού μετά την
	# ανάληψη του ποσού *amount*
		self.balance -= amount
		return self.balance
	def deposit(self, amount):
	# Επιστρέφει το νέο υπόλοιπο του λογαριασμού μετά την
	# κατάθεση του ποσού *amount*
		self.balance += amount
		return self.balance

Παρακάτω δημιουργήστε δύο αντικείμενα **cust1** και **cust2** της κλάσης Customer, με όνομα John και Mary

Nα γίνει κατάθεση (deposit) του ποσού 1400 ευρώ στο λογαριασμό του John και 1500 στης Mary

Να γίνει ανάληψη (withdraw) 300 ευρώ από το λογαριασμό του John.

Να γίνει ανάληψη 400 ευρώ από το λογαριασμό της Mary.

Εμφανίστε το όνομα και δίπλα το υπόλοιπο του λογαριασμού και για τους δύο πελάτες. \
*(Για να είναι σωστή η άσκηση θα πρέπει και ο John και η Mary να έχουν στο λογαριασμό τους από 1100 euro)*

# 3ο μέρος
Παρακάτω ακολουθεί μια κλάση **Student** με ιδιότητες *name* και *am*. Η κλάση περιλαμβάνει μόνο τον *κατασκευαστή* της:

In [4]:
class Student:
    def __init__(self, name, am):
        self.name=name
        self.am=am

**Ξαναγράψτε** την κλάση και *προσθέστε* την ιδιότητα *fatherName*.
Επίσης, συμπληρώστε μέσα στην κλάση μια μέθοδο με όνομα **def printing()** η οποία θα εκτυπώνει τα στοιχεία ενός μαθητή.

Δημιουργήστε ένα **αντικείμενο** με όνομα *st1* και τις εξής ιδιότητες:
- Όνομα: Λευτέρης Παπαδόπουλος
- ΑΜ: 205
- Όνομα πατρός: Βασίλειος

Εφαρμόστε τη μέθοδο **printing** για το αντικείμενο st1. Εκτυπώθηκαν σωστά τα στοιχεία του μαθητή;

Δημιουργήστε άλλα δύο αντικείμενα με όνομα **st2** και **st3** με όποιες τιμές θέλετε εσείς και εκτυπώστε με τη μέθοδο **printing** τα στοιχεία τους.